doctype html
html
  head
    meta(charset='UTF-8')
    title notific8 demo
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css")
    link(rel='stylesheet', href='./bower_components/notific8/dist/notific8.css', media='screen')
    link(rel='stylesheet', href='./dist/notific8-image.css', media='screen')
    style.
      label.notific8-image-option {
        align-items: center;
        cursor: pointer;
        display: flex;
        padding: 4px 0;
        position: static;
      }
      label.notific8-image-option.selected {
        background-color: #e6e6e6;
        border-radius: 3px;
      }

  body
    .container
      include demo.pug

    //- script includes
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js")
    script(src='./bower_components/notific8/dist/notific8.js')
    script(src='./bower_components/notific8/dist/jquery.notific8.js')
    script(src='./dist/notific8-image.js')

    script(type='text/javascript').
      $(document).ready(function() {
        $('select').material_select();
      });

    include demo-js.pug
